.booth {
	width: 810px;
	height: 350px;
	background-color: #ccc;
	border: 10px solid #ddd;
	margin: 0 auto;
	position: relative;
}
#video {
	position: absolute;
	top: 0;
	left: 0;
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
#photo {
	position: absolute;
	top: 38px;
	right: 0;
	clear: both;
}
#capture {
	position: absolute;
	bottom: 0;
}
.booth-capture-button {
	display: block;
	padding: 10px 20px;
	background-color: firebrick;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
