.booth {
    width: 810px;
    height: 300px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
    position: relative;
}
#video {
    position: absolute;
    top: 0;
    left: 0;
}
#canvas {
    position: absolute;
    top: 38px;
    right: 0;
    clear: both;
    width: 400px;
}
.panel {
    margin: 20px auto;
    width: 810px;
}
#error {
    color: #f00;
}
